!!!
%html
  %head
    %script{ :type => "text/javascript", :src => "../../js/jquery-3.1.0.min.js" }
    %link{ :href => "../../css/main.css", :type => "text/css", :rel => "stylesheet" }
    %script{ :type => "text/javascript", :src => "../../js/calendar.js" }
    %title
  %body
    %a{ :href => "/spaces", :title => "Spaces" }
      Spaces
    %a{ :href => "/session/new", :title => "Login" }
      Login
    %title
  %body
    %form{ :action => "/session/end", :method => "post" }
      %input{ :type => "hidden", :name => "_method", :value => "delete" }
      %input{ :type => "submit", :value => "Logout" }

    %h2= "Welcome to Makersbnb #{current_user.name}" if session[:user_id]
    = flash[:warning] if flash[:warning]
    - if flash[:notice]
      = flash[:notice]
    - if flash[:error]
      - flash[:error].each do |msg|
        = msg
    = yield
