!!!
%html
  %head
    %title
  %body
    %a{ :href => "/session/new", :title => "Login" } 
    %form{ :action => "/session/end", :method => "post" }
      %input{ :type => "hidden", :name => "_method", :value => "delete" }
      %input{ :type => "submit", :value => "Logout" }

    %h2= "Welcome to Makersbnb #{current_user.name}" if session[:user_id]
    = flash[:warning] if flash[:warning]
    - if flash[:notice]
      = flash[:notice]
    - if flash[:error]
      - flash[:error].each do |msg|
        = msg
    = yield
